<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<main id="app">		
		<section class="form-container">
			<i id="theme" class="fas fa-cog lb" onclick="changeTheme()"><span> Change Theme(Dark)</span></i>
			<h1 id="title" class="lb">Welcome to awesome chat app!!</h1>
			<label for="nickname" class="lb">Nickname(its up to you :D)</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			
			<form>
				<label for="message" class="lb">Your message here!</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input id="submit" type="submit" @click.prevent="dispatchMessage">
			</form>
			<p id="userConnect" class="lb">Current Users: {{ userconnect.currentusers }}</p>
			
		</section>

		<section class="messages">
			<p id="notifications" v-for="notification in notifications" class="new-message">{{ notification }}</p>
			<p id="disconnections" v-for="disconnection in disconnections" class="new-message center">{{ disconnection }}</p>	
			<ul id="messages" v-for="message in messages">
				<!-- render a new component for every message -->
				<newmessage :msg="message"></newmessage>		
			</ul>
		</section>		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/modules/themeChange.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>
</html>