.new-message {
  width: 45%;
  padding: 8px 12px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1rem;
  float: left;
  clear: both; }
.new-message span {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 2px; }

.my-message {
  float: right !important;
  background-color: #FFBD00;
  color: white; }

#notifications, #disconnections {
  width: 20%;
  float: left;
  text-align: center;
  background-color: #eee;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  border-radius: 0; }

#theme {
  margin-bottom: 1rem; }

.themeChange .new-message {
  width: 45%;
  padding: 8px 12px;
  background-color: #E2F9F9;
  border-radius: 8px;
  margin-bottom: 1rem;
  float: left;
  clear: both; }
.themeChange .new-message span {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 2px; }
.themeChange .my-message {
  float: right !important;
  background-color: #00B9BB;
  color: white; }
.themeChange #notifications, .themeChange #disconnections {
  width: 20%;
  float: left;
  text-align: center;
  background-color: #eee;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  border-radius: 0; }
.themeChange .form-container, .themeChange .messages {
  padding: 20px; }
.themeChange .form-container {
  flex: 1;
  border: 6px solid #E2F9F9;
  background-color: #2F3645; }
.themeChange .form-container label {
  display: block;
  margin-bottom: 0.5rem; }
.themeChange .lb {
  color: white; }
.themeChange .fa-redo {
  color: white;
  margin-top: 1rem; }
.themeChange #redo {
  display: block; }
.themeChange .messages {
  flex: 2;
  background-color: #2F3645;
  border: none; }
.themeChange input, .themeChange textarea {
  display: block;
  width: 100%;
  border: 5px solid #00B9BB;
  font-size: 0.8rem;
  padding: 1rem;
  border-style: solid;
  box-shadow: 5px 5px 2px #2F3645; }
.themeChange #submit {
  border: none;
  box-shadow: none; }
.themeChange textarea {
  height: 135px; }
.themeChange form {
  padding: 3px;
  margin: 12px auto; }
.themeChange form input[type=submit] {
  width: auto;
  padding: 10px;
  background-color: #00B9BB;
  margin-top: 1rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold; }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font: 16px Helvetica, Arial; }

main {
  display: flex;
  height: 100%;
  flex-direction: row; }

#title {
  margin-bottom: 1.5rem; }

.fa-cog {
  font-size: 2rem; }
.fa-cog span {
  font-size: 12px;
  font-weight: lighter; }

#redo {
  display: none; }

.form-container, .messages {
  padding: 20px; }

.form-container {
  flex: 1;
  border: 6px solid #FFBD00; }
.form-container label {
  display: block;
  margin-bottom: 0.5rem; }

.messages {
  flex: 2;
  border: 6px solid black; }

input, textarea {
  display: block;
  width: 100%;
  border: 5px solid #FFBD00;
  font-size: 0.8rem;
  padding: 1rem;
  border-style: solid; }

#submit {
  border: none;
  box-shadow: none; }

textarea {
  height: 135px; }

form {
  padding: 3px;
  margin: 12px auto; }
form input[type=submit] {
  width: auto;
  padding: 10px;
  background-color: #FFBD00;
  margin-top: 1rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }
#messages li {
  padding: 5px 10px; }
#messages li:nth-child(odd) {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
